#mainHeader{
    text-align:center;
    background-color:black;
    color:white;
    padding:10px;
}

#mainFooter{
    text-align:center;
    font-size:18px;
}

#mainSection{
    text-shadow:violet;
    background-color:cadetblue;
    text-align:end;
    font-size: 153%;
    font-family: fantasy;
}

aside{
    font-family: cursive;
    color:blueviolet;
    font-size:78%;
}

#mainTest{
    background-color:lightgray;
    color:darkslategrey;
    padding:15px;
}

form{
    text-align:right;
}
